rpc-spring/src/main/resources/META-INF/rpcCommon.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.person.net/personTag" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:beans="http://www.springframework.org/schema/beans"
	targetNamespace="http://rpc.com/schema/rpcCommon"
	xmlns:tool="http://www.springframework.org/schema/tool"
	elementFormDefault="qualified" attributeFormDefault="unqualified">

	<xsd:import namespace="http://www.w3.org/XML/1998/namespace"/>
	<xsd:import namespace="http://www.springframework.org/schema/beans"/>
	<xsd:import namespace="http://www.springframework.org/schema/tool"/>

	<xsd:element name="rpcCommonServer">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="beans:identifiedType">					
					<xsd:attribute name="name" type="xsd:string"
						use="optional" />							
					<xsd:attribute name="interfaceClass" type="xsd:token"	use="required">
						<xsd:annotation>
						<xsd:documentation><![CDATA[ Defines the interface to advertise for this service in the service registry. ]]></xsd:documentation>
						<xsd:appinfo>
							<tool:annotation>
								<tool:expected-type type="java.lang.Class"/>
							</tool:annotation>
						</xsd:appinfo>
					</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="ref" type="xsd:string" use="optional">
						<xsd:annotation>
							<xsd:documentation><![CDATA[ The service implementation instance bean id. ]]></xsd:documentation>
						</xsd:annotation>
				</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="rpcCommonClient">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="beans:identifiedType">					
					<xsd:attribute name="name" type="xsd:string"
						use="optional" />							
					<xsd:attribute name="interfaceClass" type="xsd:token"	use="required">
						<xsd:annotation>
						<xsd:documentation><![CDATA[ Defines the interface to advertise for this service in the service registry. ]]></xsd:documentation>
						<xsd:appinfo>
							<tool:annotation>
								<tool:expected-type type="java.lang.Class"/>
							</tool:annotation>
						</xsd:appinfo>
					</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="url" type="xsd:string" use="optional" />
					<xsd:attribute name="cluster" type="xsd:string" use="optional" />		
					<xsd:attribute name="balance" type="xsd:string" use="optional" />
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>